nav {
  position: absolute;
  top: 0;
  margin-top: 50px;
  z-index: 2;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
}
span {
  color: black;
}

.logo-travel {
  font-weight: bolder;
  letter-spacing: 0.3rem;
  margin-left: 1rem;
  font-size: 37px;
}
.logo-fly {
  letter-spacing: 0.3rem;
  font-size: 37px;
  color: rgb(255, 122, 5);
}
@media (max-width: 1000px) {
  .logo-travel {
    font-weight: bolder;
    letter-spacing: 0.3rem;
    font-size: 27px;
  }
  .logo-fly {
    letter-spacing: 0.3rem;
    font-size: 27px;
    color: rgb(255, 122, 5);
  }
}
